.footer .branding--logo {
  display: inline-block;
  float: left;
  margin-left: 1em;
  font-size: 0.5em;
  position: absolute;
  bottom: 0em;
}
.footer .logo__image {
  display: inline-block;
}
.footer .logo__site-name {
  display: inline-block;
}
.footer .session--info {
  display: inline-block;
  float: right;
  font-size: 0.5em;
  position: absolute;
  bottom: 0em;
  right: 5em;
}
.footer .session__title, .footer .session__presenter {
  display: inline-block;
}
